**/*.class
**/*.keep
target/
*/target/
bin/
*/bin/
*/.settings/
*/.project
*/.classpath
.settings/
.project
.classpath
*/*/target/
*/*/bin/
*/*/.settings/
*/*/.project
*/*/.classpath
*/*/*/target/
*/*/*/bin/
*/*/*/.settings/
*/*/*/.project
*/*/*/.classpath
*.exec
**/*.iml
.metadata
../*.log
**/*.log
**/*.graphml
build
../.idea
.idea/*
mvnw
mvnw.cmd
.mvn
## Uncomment next line to make updates on run configurations
#!.idea/runConfigurations/

